<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h3>{{name}}</h3>
         <img src='img/up.jpeg'>
        <p>UpZx</p>ความอันตรายระดับ หมอลำ
    </div>
    {{>footer}}
</body>
</html>
